$color_:#646b67;
$color_lighten:lighten($color_,20%);
$color_font_error:#e6670b;
$router_link_height:40px;
$router_link_color:green;
$router_link_active_color:rgb(19, 66, 19);
$router_link_font_size:20px;
$popover_background_color:rgba(15, 14, 14, 0.89);
$error_background_color:#730e03;
$font_size_bigger:1.3rem;